* {
    margin:0; padding:0;
    font-size:inherit;
    color:inherit;
    -webkit-font-smoothing: antialiased;
}
button::-moz-focus-inner {padding:0;border:0;}
a {outline:none;
    text-decoration:none;
    background-color:transparent;
    font-size:11px;
    color:#2d2a2b ;
}
img {border:none;}
html {height: 100%;}
body {
    height: auto !important;
    min-height: 100%;
    position: relative;
    background: #ffffff ;
    font-size:13px;
    color:#575757 ;
}

@font-face {
    font-family: 'GIL';
    src: url('../fonts/GIL.eot');
    src: url('../fonts/GIL.eot') format('embedded-opentype'),
    url('../fonts/GIL.woff2') format('woff2'),
    url('../fonts/GIL.woff') format('woff'),
    url('../fonts/GIL.ttf') format('truetype'),
    url('../fonts/GIL.svg#GIL') format('svg');
}

.container {
    width: 960px;
    margin: auto;
    box-sizing: border-box;
    padding-top: 13px;
}
.line {
    width: 100%;
    border-bottom: solid 1px #958671;
    margin-top: 45px;
    box-sizing: border-box;
}
.right {
    float: right;
}
.right:after {
    content: " ";
    clear: both;
}
.menu-small {
    float: right;
}

.menu-small li {
    display: inline-block;
    padding-left: 18px;
    padding-right: 18px;
    line-height: 20px;


}
.menu-small a {
    color: #958671;
    font-size: 11px;
}
.menu-small a:hover {
    color: #e58415;
}
.social {
    float: right;
}
.social a {
    margin-left: 10px;
}
.clearfix {
    clear: both;
}
.logo {
    position: absolute;
    top: 45px;
    left: 0;
}

.menu {
    float: right;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    height: 35px;
}
.menu li {
    display: inline-block;
    padding: 7px 15px;
    border-top: solid 2px #ffffff;
}
.menu li:last-child {
    padding-right: 0;
}
.menu li:hover {
    border-top: solid 2px #958671;

}
.menu a {
    color: #958671;
    font-size: 15px;
    font-family: "Gill Sans";
    font-style: italic;

}
.menu a:hover {
    color: #e58415;
}
.menu:after {
    content: ".";
    display: block;
    clear: both;

}
.dropdown-menu {
    widows: 170px;
    background-color: #958671;
    box-sizing: border-box;
    position: absolute;
    padding: 20px 25px;
    margin-top: 11px;
    opacity: 0;

}
.dropdown-menu li {
    display: block;
    border-color: #958671;

}
.dropdown-menu li a {
    font-size: 13px;
    color: #fff;

}
.dropdown:hover .dropdown-menu {
    opacity: 1;
}
header form {
    width: 316px;
    height: 28px;
    box-sizing: border-box;
    margin: 0;
    border: solid 1px #958671;
    border-top: none;

}
header form input {
    height: 100%;
    width: 250px;
    border: none;
}
header form button {
    height: 100%;
    width: 60px;
    background-color: #958671;
    color: #FFFFFF;
    text-align: center;
    font-family: "Gill Sans";
    font-style: italic;
    font-size: 11px;
    margin: 0;
    border: none;
}

